<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}" target="_blank" rel="noopener noreferrer" class="d-block">
    <img
      class="w-100"
      alt="{{ include.username }}"
      src="https://github.com/{{ include.username }}.png?size=320"
    >
    <p class="mt-2 mb-0">@{{ include.username }}</p>
  </a>
</div>
