{% assign repo_url = include.repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

{% if site.data.repositories.repo_description_lines_max %}
  {% assign max_lines = site.data.repositories.repo_description_lines_max %}
{% else %}
  {% assign max_lines = 2 %}
{% endif %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}" target="_blank" rel="noopener noreferrer">
    <img
      class="w-100"
      alt="{{ include.repository }}"
      src="https://opengraph.githubassets.com/{{ include.repository | replace: '/', '-' }}/{{ include.repository }}"
    >
  </a>
</div>
